<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^$ public/index.php [L]
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^hrms\.fixguru\.in$ [OR]
RewriteCond %{HTTP_HOST} ^www\.hrms\.fixguru\.in$
RewriteRule ^/?$ "https\:\/\/hrms\.fixguru\.in\/" [R=301,L]

